:root{
    --fundo: #e7e4e4;
    --cartao-frente: #937093;
    --cartao-verso:#639955;
    --branco:rgb(206, 72, 72);
    --preto:rgb(11, 3, 126);
    --destaque:#d8bfd8;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#conteiner{
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}
.conteudo-cartão{
    background-color: var(--cartao-frente);
}

