:root{
    --fundo: #e7e4e4;
    --cartao-frente: #0f00dd;
    --cartao-verso:#39a11e;
    --branco:rgb(255, 255, 255);
    --preto:rgb(0, 0, 2);
    --destaque:#f5e12d;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.conteudo-cartao{
    background-color: var(--cartao-frente);
}

.cartao{
    margin: 1rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}
.conteudo-cartao h3{
    border: 1px solid var(--destaque);
    position: absolute;
    padding: 0.5rem;
    margin: 0.6rem;
    backface-visibility: hidden;
    border-radius: 0.5rem;
}

.conteudo-cartao p{
    margin-top: 1rem;
    padding-top: 4rem;
}

.cartao.active.conteudo-cartao{
    transform: rotateY('180');
}