:root{
    --fundo: #e7e4e4;
    --cartao-frente: #937093;
    --cartao-verso:#339e18;
    --branco:white;
    --preto:rgb(168, 153, 13);
    --destaque:#d8bfd8;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}